@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

/*styling the app theme(dark and light modes) */ 
:root {
  --bg-light: #ffffff;
  --bg-dark: #1c1c24;
  --text-light: #000000;
  --text-dark: #ffffff;
}

.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

/* Additional styles for light and dark themes */
body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

body.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}



/* styling the sidebar titles*/
/* styles.css */
.relative {
  position: relative;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.absolute {
  position: absolute;
}

.left-full {
  left: 100%;
}

.ml-1 {
  margin-left: 0.25rem; /* Smaller margin */
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: #fff;
}

.text-xs {
  font-size: 0.75rem;
}

.rounded {
  border-radius: 0.25rem;
}

.opacity-0 {
  opacity: 0;
}

.transition-opacity {
  transition: opacity 0.3s;
}

.duration-300 {
  transition-duration: 300ms;
}

.whitespace-nowrap {
  white-space: nowrap;
}

/* Welcome page styling */
.title {
  margin-top:70px ;
  color: white;
  font-size: 2.8rem; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-bottom: 1rem; /* Add some space below the heading */
}

.subtitle {
  display: block;
  font-size:2.8rem; /* Adjust as needed */
  font-weight: normal; /* Adjust as needed */
  font-weight: bold;
 
  margin-top: 0.5rem; /* Add some space above the subtitle */
}

.par{
  color: white;
  padding-top: 30px;
  position: relative; 
  padding-left: 25px;
}


.par::before {
  content: ''; /* Required for the pseudo-element to display */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px; /* Adjust the width as needed */
  height: 3em; /* Adjust the height as needed */
  background-color: green; /* Adjust the color as needed */
}
.Explore-btn{
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: green;
  border-radius: 75px;
  height: 20px;
  width: 160px;
  margin-left: 30px;
 margin-top: 30px;

}
.img{
  height: auto;
  width: 400px;
  margin-top: -360px;
  margin-left: 700px;
}

